# For Mongo DB
MONGO_ROOT_USER=mongo_root_user
MONGO_ROOT_PASSWORD=mongo_root_pwd

# For LTI DataBase
LTI_DB_NAME=database_name
LTI_DB_USER=database_user
LTI_DB_PASSWORD=database_pwd

LTI_KEY=# 터미널에서 openssl rand -base64 32 로 생성
DB_URL=mongodb://localhost:port/database_name

# For LTI Platform Config
MOODLE_URL=your_moodle_url
PLATFORM_NAME=임의의_이름
PLATFORM_CLIENT_ID=your_moodle_client_id
PLATFORM_AUTH_ENDPOINT=your_moodle_Authentication request URL
PLATFORM_TOKEN_ENDPOINT=your_moodle_Access token URL
PLATFORM_AUTH_METHOD=JWK_SET
PLATFORM_AUTH_KEY=your_moodle_Public keyset URL